
/* css */

body{
    background-image: url('https://i.pinimg.com/736x/a9/fa/24/a9fa24538317e243f87c43e2ee94345e.jpg');
}



.text-white{
    color: white;
}

h1{
    font-family: 'barriecito';
    font-size: 75px;
}

.cursive{
    font-family: 'barriecito';
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: auto;
    height: auto;
    margin-top: 100px;
    border-top-left-radius: 500px;   /* curve top left */
    border-top-right-radius: 500px;  /* curve top right*/
}

.content-box{
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    height: 1000px;
    background-color: #fef3e8;
    border-top-left-radius: 500px;   /* curve top left */
    border-top-right-radius: 500px; /* curve top right*/
    
}

.transparent{
    opacity: 0.85;
}

.btn-color{
    background-color: #502902;
}


